#formulario {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #00613d;
  }
  .simulacao {
    width: 100%;
    height: auto;
    width: auto;
    display: flex;
    font-family: monospace;
    padding-top: 6em;
    /* margin-bottom: 6em; */
    text-align: center;
    padding-left: auto;
    padding-right: auto;
  }
  .simulacao-image {
    width: 100%;
    height: 48rem;
    margin-top:-88px;
    margin-right: -10px;
    margin-left: 30px;
    margin-bottom: -10px;
  }
  .formulario-promocao{
    width: 100%;
    height:auto;
    display: flex;
    margin-top: -10;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  .txt-promocao{
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eec630;
    border-radius: 40px;
    border: 1px solid transparent
  }
  .txt-promocao h2{
    padding-top: 6px;
    color: #215b3c;
    font-family: Roboto !important;
    font-weight: bolder;
    font-size: 10pt !important;
  }
  .img-obejt{
    width: 100%;
    height: 48rem;
    object-fit: contain !important;
    object-position: top;
  }
  .simulacao-image img {
   object-fit: cover !important;
  }
  @keyframes neon {
      from {
          filter: drop-shadow(0 0 0 var(--cor-neon));
          transform: scale(1.2);
      }
      to {
           filter: drop-shadow(0 0 20px var(--cor-neon));
           transform: scale(1.1);
      }

  }
  .txt-promocao {
      animation: neon 1s alternate infinite ease-in-out;
      --cor-neon: #eec630;
  }

  .txt-promocao h2 {
      --cor-neon: #ffbe0b;
  }

