/* ## Configuração Mobile ## */
@media only screen and (max-width: 600px) {
  .information {
    width: 100%;
    z-index: 9999;
  }
  .barra-social{
    display: none !important;
  }
  #nav-mobile {
    margin-top: 0rem;
    height: 6rem;
    width: 100vw;
    position: fixed;
    background-color: #215b3c;
    z-index: 4;
  }
  .navbar {
    justify-content: space-around;
    margin-top: 0.7rem !important;
    margin-bottom: -1px !important;
    margin-left: -0.7rem !important;
    margin-right: -0.7rem !important;

  }
  .navbar-brand img {
    margin-right: -20px;
  }
  .navbar-nav {

  }
  .navbar-toggler {
    padding: 3px 3px 3px 3px;
    font-size: 11px;
    margin-right: 3px;
    /* background-color: #DFDFDF; */
  }
  .navbar-toggler:active {
    background-color: #dfdfdf;
  }
  .navbar-toggler button [aria-expanded="true"] {
    background-color: #dfdfdf;
  }
  .btn-reboque,
  .btn-2via,
  btn {
    padding: 1px;
    margin: -4px;
  }
  .barra-social-mobile{
    float: right;
    margin-top: -7rem;
    padding-right: 4px;
    background-color: #3c3c3b;
  }
  .barra-social-ico {
    height: 39px;
  }
 
  #banner {
    width: 100%;
    height: 24rem;
    margin-top: -0.5rem;
    margin-bottom: -3rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #124228;
  }
  .divisao-1 {
    display: none;
  }
  .divisao-2 {
    /* margin-bottom: 9rem; */
  }
  .divisao-2 img {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  #grupo-procar {
    width: 100%;
    height: 6rem;
    margin-top: 0.75rem;
    margin-bottom: 4rem!important;
  }
  .grupo-procar-div-1,
  .grupo-procar-div-2,
  .grupo-procar-div-3,
  .grupo-procar-div-4 {
    margin-top: 15px;
    width: 25%;
    height: 5.75rem;
    filter: none;
  }
  .grupo-procar-div-1,
  .grupo-procar-div-3 {
    background-color: #215b3c;
  }
  .grupo-procar-div-2,
  .grupo-procar-div-4 {
    background-color: #eec630;
  }
  .grupo-procar-div-1 img {
    width: 5rem;
    height: auto;
  }
  .grupo-procar-div-2 img {
    width: 5rem;
    height: auto;
  }
  .grupo-procar-div-3 img {
    width: 4rem;
    height: auto;
  }
  .grupo-procar-div-4 img {
    width: 4rem;
    height: auto;
  }
  #formulario {
    background-color: #00613d;
    margin-top:-4rem;
    margin-bottom: -10px;
  }
  #form-mobile {
    width: 100vw;
    height: auto;
    background-color: #00613d;
    display: flex;
    justify-content: center;
    margin-top: 0rem;
  }
  #form-bootstrap {
    width: 18rem !important;
    margin-bottom: 4rem;
  }
  .simulacao {
    padding-top: 10rem;
  }
  #beneficios {
    margin-bottom: -1rem;
  }
  .beneficios-titulo {
    width: 100%;
    /* padding-left: 10px ;
    padding-right: 10px; */
    /* border: 1px solid red */
  }
  .beneficios-titulo h3 {
    font-size: 1.25rem !important;
  }
  #planos {
    width: 100%;
    height: 30rem;
  }
  .planos-background {
    background-image: url("../imagens/modelo-procar-site_mobile.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 30em;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  .plano-conteudo {
    width: 100%;
    margin-left:0px;
    padding: 50px 50px 50px 50px;
    height: 20rem;
    
  }
  .plano-texto {
    width: 100%;
    height: auto;
    padding-left: 15px;
    padding-top: 15px;
  }
  .plano-texto img {
    width: 250px !important;
    height: auto;
  }
  .plano-saiba-mais {
    width: 100%;
    height: auto;
    padding-left: 17px;
  }
  .plano-saiba-mais button {
    border-radius: 35px !important;
    font-size: 20pt !important;
    padding: 0.15rem 3rem 0.15rem 3rem;
  }
  #prova-social {
    height: 50rem;
    margin-bottom: 1rem;
    display: none;
  }
  .proca-social-titulo{
    margin-bottom: 20px;
  }
  .carousel{
    margin-top: -4rem;
    margin-left: -8px
  }
  .config-carousel{
    height: 22rem;
  }
  .carousel-item{
    height: 50rem;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-left: 70px;
    margin-bottom: 3rem;
  }
  .mobile-apaga {
    display: none;
  }
  /* Seção Aplicativo */
  #aplicativo {
    width: 100%;
    height: 500px;
  }
  .aplicativo-container {
    width: 100%;
    height: auto !important;
    background-image: url(../imagens/fundo-aplicativo-mobile.jpg);
    padding-bottom: 4rem;
  }
  .app-parte-1 {
    width: 100%;
    height: 450px;
    padding-top: 1px;
    padding-left: 0px;
  }
  .aplicativo-bloco-1 {
    width: 100%;
    height: 20rem;
  }
  .aplicativo-bloco-1 p {
    font-size: 30px !important;
    line-height: 60px;
  }
  .aplicativo-bloco-2 {
    margin-top: -80px;
  }
  .app-txt-1 {
    font-size: 50px;
  }
  .app-parte-2 {
    display: none !important;
  }
  .app-btn {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .app-btn-ios,
  .app-btn-android {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-btn-ios img,
  .app-btn-android img {
    width: 200px;
    height: auto;
    margin: 0px !important;
    padding: 0px !important;
  }
  footer {
    height: auto;
    margin-top: 2rem;
    margin-left: 0px;
    margin-top: 0px;
  }
  .rodape {
    padding-top: 4rem;
    margin-bottom: 2rem;
  }
  .col-rodape-conteudo {
    text-align: left;
  }
  /* Mobile extra */
  .a-esqueda{
    justify-content: left !important;
  }
  .carrocel-mobile{
    display: fixed;
  }
}
/* #Fim# Configuração Mobile */

